{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h5 class="mb-3">Formulario para agregar un Pokemon</h5>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
                {{ field }}
                {% if field.errors %}
                <div class="text-danger small">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
            <a href="{% url 'index' %}" class="btn btn-secondary btn-sm">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
