{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h3>{{ pokemon.name }}</h3>
        <p>Has elegido el pokemon: <strong>{{ pokemon.name }}</strong></p>

        <h5>Características:</h5>
        <ul>
            <li>Tipo: {{ pokemon.type }}</li>
            <li>Peso: {{ pokemon.weight }}</li>
            <li>Altura: {{ pokemon.height }}</li>
            <li>Entrenador:
                {% if pokemon.trainer %}
                    {{ pokemon.trainer.name }}
                {% else %}
                    Sin entrenador
                {% endif %}
            </li>
        </ul>

        {% if pokemon.photo %}
        <img src="{{ pokemon.photo.url }}" alt="{{ pokemon.name }}" style="max-width: 250px; display: block; margin: 15px auto;">
        {% endif %}

        <a href="{% url 'index' %}" class="text-primary">Regresar</a>
    </div>
</div>
{% endblock %}